<h2>Lista dos Próximos Eventos</h2>

<div class='text-danger' ></div>

<div class="page-size">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data de Início</th>
          <th>Data de Encerramento</th>
          <th>Valor</th>
          <th>Online</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>teste</td>
          <td>teste</td>
          <td>teste</td>

          <td>teste</td>


          <td >
           
          </td>

          <td>
              <a title="Detalhes" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Saber Mais
              </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>